# Google Generative AI SDK
google-generativeai
google-genai

# pyQt5 for GUI development
PyQt5

# thread and asyncio utilities
threadpoolctl
async-timeout

# OBS audio capture
obs-websocket-py
sounddevice